POSTGRES_DB=ahtech
POSTGRES_USER=ahtech
POSTGRES_PASSWORD=COLOQUE_UMA_SENHA_FORTE
AHTECH_SECRET_KEY=COLOQUE_UMA_CHAVE_ALEATORIA_GRANDE
AHTECH_ADMIN_EMAIL=admin@ahtech.com
AHTECH_ADMIN_PASSWORD=COLOQUE_A_SENHA_DO_ADMIN
AHTECH_ADMIN_NAME=Administrador
AHTECH_COOKIE_SECURE=1
DOMAIN=gestao.seudominio.com.br
